<% @test_creators.question.each do |question| %>
  <table>
  	<tbody>  
    <tr>  
	  <td><%= question.name %></td> 
	  <td><input type="radio" value="Yes">Já</td>
	  <td><input type="radio" value="No">Nei</td>
	</tr>
	  </tbody> 
</table>  
<% end %> 