<div class="fields">
<p>
  <%= @personal_test.name %>
</p>


<p>
  <b>Niðurstaða:</b><br />
</p>

<% if @personal_test.result == @personal_test.questions.length %>
  <p>score is good</p>
<% else %>
  <p>score is bad </p>
<% end %>

<div class="">
  
</div>

  <%= link_to 'Áfram', personal_test_path, :method => :put, :class => 'btn btn-mini btn-success' %> 

</div>
<% if (current_user && (current_user.is_admin).to_i == 1) %>
<%= link_to 'Breyta', edit_personal_test_path(@personal_test) %> |
<% end %>
<%= link_to 'Til baka', personal_tests_path %>
