<p id="notice"><%= notice %></p>

<h3><%= @test_creator.name %></h3>

<fieldset>
  <table>
  	<tbody>  
    <tr>  
	  <td><p>Hér kemur spurning</p></td> 
	  <td><input type="radio" value="Yes">Já</td>
	  <td><input type="radio" value="No">Nei</td>
	</tr>
	    <tr>  
	  <td><p>Hér kemur spurning</p></td> 
	  <td><input type="radio" value="Yes">Já</td>
	  <td><input type="radio" value="No">Nei</td>
	</tr>
	    <tr>  
	  <td><p>Hér kemur spurning</p></td> 
	  <td><input type="radio" value="Yes">Já</td>
	  <td><input type="radio" value="No">Nei</td>
	</tr>
	    <tr>  
	  <td><p>Hér kemur spurning</p></td> 
	  <td><input type="radio" value="Yes">Já</td>
	  <td><input type="radio" value="No">Nei</td>
	</tr>
	  </tbody> 
</table>  

  <div class="actions">
    <input type="button" value="Áfram">
  </div>
</fieldset>


 
  
