<%= form_for(@user_personal_test_session, :html => {:class => 'form-horizontal' }) do |f|%>
  
  <div class="field">
	<%= select(:user_personal_test_session, :personal_test_id, PersonalTest.all.collect {|p| [ p.name, p.id ] }, {:prompt => 'Velja próf'})%>
  </div>
  
  <div class="actions">
    <%= f.submit 'Taka próf' %>
  </div>
<% end %>
