<%= form_for(@user_personal_test_session) do |f| %>

  
  <div class="actions">
    <%= f.submit 'Vista'%>
  </div>
<% end %>

<%= link_to 'Sýna', @user_personal_test_session %> |
<%= link_to 'Til baka', user_personal_test_sessions_path %>
