<h3>Um okkur</h3>

<% @abouts.each do |about| %>
  <h4><%= about.title %></h4>
  <p><%= about.content %></p>
  <br />
<% end %>

<br />

<% if (current_user && (current_user.is_admin).to_i == 1) %>
<%= link_to 'Breyta', edit_about_path(@abouts) %> 
<% end %>
