
<p>
  <%= @about.title %>
</p>

<p>
  <%= @about.content %>
</p>

<% if (current_user && (current_user.is_admin).to_i == 0) %>
<%= link_to 'Breyta', edit_about_path(@about) %> |
<% end %> |
<%= link_to 'Til baka', abouts_path %>
