/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

  head
  {
     margin: 0;
     padding: 0;
  }
  
  body 
  {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    background-color: #f0f0f0;
    font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
    font-size: 13px;
    color: #333;
  }

  h1 
  {
    font-size: 28px;
    color: #000;
  }
  
  div 
  {
    text-align:center;
  }
  
  #container
  {
    border:1px solid purple;
    width:755px;
    margin:0 auto;
    padding:5px;
    text-align:left;
    position:relative
  }
  
  #header 
  {
    border:2px solid red;
    width:750px;
    height:94px;
  }
  
  #content
  {
    border:2px solid blue;
    width:400px;
    margin:10px 0 10px 175px;
    min-height:500px;
    _height:500px
  }
  
  #menu-left
  {
    border:2px solid green;
    width:150px;
    float:left;
    margin:10px 0 10px 5px;
    height:500px;
  }

  #menu-right
  {
    position:absolute;
    top:109px;
    right:10px;
    border:2px solid green;
    width:150px;
    margin:0;
    height:500px;
  }

  #footer 
  {
    border:2px solid red;
    width:750px;
    height:30px;
  }

  ul#button-menu 
  {
	margin: 35px 0;
	padding: 0;
	font: 12px Verdana;
	list-style-type: none;
  }
  
  ul#button-menu li 
  {
	display: inline;
  }
  
  ul#button-menu li a 
  {
	padding: 5px 10px;
	border: 1px solid #aaa;
	background-color: #eee;
	color: #47a;
	text-decoration: none;
  }
  
  ul#button-menu a:hover 
  {
	background: #fff;
	color: #222;
  }
  
  ul#button-menu li.current a 
  {
	border:1px solid #777;
  }


