<h3>Flokkar fyrir meðferðir</h3>

<table class="table table-striped"> 
  <thead> 
    <tr> 
      <th>Flokkur</th>
      <th>Stofnaður</th>
	</tr> 
  </thead> 
  <tbody>  
	  <% @categories.each do |category| %> 
	    <tr> 
		  <td><%= link_to category.name, category_path(category)%></td>
          <td><%= category.created_at %></td>
	  	  <td>
	  	  	<%= link_to 'Breyta', edit_category_path(category), :class => 'btn btn-mini' %> 
	  	  	<%= link_to 'Eyða', category_path(category), :method => :delete, :confirm => 'Ertu viss?', :class => 'btn btn-mini btn-danger' %>
	  	  </td> 
		</tr> 
	  <% end %> 
   </tbody> 
</table> 
