<!DOCTYPE html>
<html>
<head>
  <title>Temple</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="title_bar">
    	<div id="title">Musteri kærleikans!</div>
  	</div>
	<div id="title_nav">
      <a href="/">Index</a> ..
      <a href="/public/about">About</a>
    </div>

<%= yield %>

</body>
</html>
