<!DOCTYPE html>
<html>
<head>
  <title>Musteri Kærleikans</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
    	<div id="header">
    		<h1>Velkomin í Musteri kærleikans!</h1>
    	</div>
		<div id="menu-left">
      		<a href="/">Index</a> ..
      		<a href="/public/about">About</a>
    	</div>
    	<div id="content">
    		<p>Content goes here !</p> 
    	</div>
    	<div id="menu-right">
    		<p>login og edit user</p>
    		
    	</div>
    	<div id="footer">
    		<p>Footer<p> 
    	</div>
    </div>

<%= yield %>

</body>
</html>
