<h2>Takk fyrir að sækja um!</h2>

<p>Athugaðu að aðgangur þinn verður óvirkur þangað til stjórnandi hefur yfirfarið umsóknina þína.</p> 
<p>Þú færð sendan tölvupóst þegar hann hefur verið virkjaður.</p>

<p>Musteri Hjartans</p>
