<h2>Takk fyrir að sækja um!</h2>

<p>Aðgangur þinn er óvirkur þangaðtil stjórnandi hefur yfirfarið og samþykkt hann.</p> 
<p>Þú færð sendann tölvupóst umleið og hann hefur verið virkaður.</p>

<p>Musteri Hjartans</p>
